page-ballot-list {

    .#{$ns}b-list{

        &__item{
            border-bottom: 1px solid rgba(white, 0.5);
        }

        &__status{
            text-transform: capitalize;
        }

        &__button{
            color: white;
        }
    }

    // .#{$ns}ballot-cards{
        
    // }

    .#{$ns}ballot-card{
        position: relative;
        width: 100%;
        margin: 0 0 3rem 0;
        border-radius: 0;
        box-shadow: none;

        &__header{
            position: relative;
        }

        &__content{
            position: relative;
            margin: -3rem 1.5rem 0;
            padding: 0;
            background: white;

            &:before{
                position: absolute;
                top: -1.125rem;
                left: 14px;
                z-index: 2;
                height: 1rem;
                padding: 0.5rem;
                font-size: 12px;
                font-weight: 600;
                line-height: 1rem;
            }

            &.is-on-chain{
                border-top: 4px solid color($colors, attention);
                box-shadow: 0 -10px 30px rgba(color($colors, attention), 0.3);

                &:before{
                    content: "On Blockchain";
                    background-color: color($colors, attention); 
                }
            }

            &.is-processing{
                border-top: 4px solid color($colors, warning);
                box-shadow: 0 -10px 30px rgba(color($colors, warning), 0.3);

                &:before{
                    content: "Processing";
                    background-color: color($colors, warning);
                }

                &:after{
                    content: '';
                    position: absolute;
                    top: -4px;
                    z-index: 1;
                    height: 4px;
                    width: 24px;
                    border-radius: 50%;
                    background-color: mix(white, color($colors, warning), 20%);
                    box-shadow: 0 0 20px 5px rgba(color($colors, warning), 0.3);
                    animation: quasar 2s infinite linear;
                }

                @at-root{

                    @keyframes quasar{

                        0%{
                            left: 1rem;
                            transform: scale3d(0, 0, 0);
                        }
                        50%{
                            transform: scale3d(1.2, 1.2, 1.2);
                        }
                        100%{
                            left: calc(100% - 1.5rem);
                            transform: scale3d(0, 0, 0);
                        }
                    }
                }
            }

            &.is-draft{
                border-top: 4px solid color($colors, benign);
                box-shadow: 0 -10px 30px rgba(color($colors, benign), 0.3);

                &:before{
                    content: "Ready";
                    background-color: color($colors, benign); 
                }
            }
        }
    }
}
