// Main Header
.#{$ns}header{
    background: linear-gradient(to bottom, rgba(color($colors, primary), 1) 0%,rgba(color($colors, primary), 0.65) 40%,rgba(color($colors, primary), 0) 100%);

    &__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img{
            height: 32px;
        }
    }

    @at-root{

        .ios{

            .#{$ns}header{
                
                &__logo{
                    top: 24px;
                    top: constant(safe-area-inset-top);
                    top: env(safe-area-inset-top);
                    transform: translateX(-50%);
                }
            }
        }
    }

    ion-badge{
        color: $white-color;
    }
}

// Global List Related Styles/Overrides
.list-ios, .list-md{

    > .item-wrapper{

        &:last-child{
            
            .item-block{
                border-bottom: none;
            }
        }
    }

    ion-item-options, .item-block .item-inner{
        border-bottom: none;
    }
}

// Header Bug Hack
// When navigaton to a page from modal,
// the header gets cut off. This is a hack until
// there is a proper ionic fix.
// https://github.com/ionic-team/ionic/issues/8151
// .toolbar-ios {
//     height: 44px + $cordova-ios-statusbar-padding;
//     padding-top: $cordova-ios-statusbar-padding;
// }

// .toolbar-title-ios {
//     padding-top: $cordova-ios-statusbar-padding;
// }