.#{$ns}island{
    background-color: color($colors, dark);

    &--negative{
        background-color: color($colors, danger);
    }

    &--positive{
        background-color: color($colors, positive);
    }

    &--warning{
        background-color: color($colors, warning);
    }

    &--trans{
        background-color: rgba($white-color, 0.2);
    }
}