page-ballot-results {

    .#{$ns}results{

        &__spinner{
            display: block;
            margin-top: 4rem;
        }

        .is-last-group{

            .#{$ns}chart{

                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }

    .#{$ns}chart{
        padding: 2rem 0 3rem 0;
        border-bottom: 1px solid rgba(white, 0.2);

        &:nth-child(odd){
            background-color: mix(black, color($colors, primary), 20%);
        }
    }
}
