// Override and expand on Ionic ion-list styles


// Global List Related Styles/Overrides
@include x-platformSelector('.list'){

    > .item-wrapper{

        &:last-child{
            
            .item-block{
                border-bottom: none;
            }
        }
    }

    ion-item-options, .item-block .item-inner{
        border-bottom: none;
    }
}

.#{$ns}list{

    &--clear{

        .item-ios, .item-md{
            background: none;
        }

        > .item-block{

            &:first-child, &:last-child{
                border: none;
            }
        }
    }
}