// Overrides and additional styling of Ionic's modal component

.#{$ns}modal{
    @include x-platformSelector('.item'){
        padding: 0;
        font-size: 1.4rem;
    }
    top: 0;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);

    .toolbar{

        .icon{
            font-size: 5rem;
        }
    }

    ion-label{
        white-space: normal;
    }

    &--fullscreen{

        .modal-wrapper {
            position: absolute;
            top: 0 !important;
            left: 0 !important;
            display: block;
            width: 100% !important;
            height: 100% !important;
        } 
    }

    &__gradient{
        @include x-gradient-swap(false, 'positive', 'attention', 'warning');
        color: white;

        &.is-initial{
            @include x-gradient-swap(true, $gradColors: 'primary');
        }

        &:before{
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            animation: gradientSwitch 7s ease-in-out infinite;
            transform: translate3d(0,0,0);
        }

        @at-root{

            @keyframes gradientSwitch {
                0%, 100%{
                    opacity: 0;
                }
                50%{
                    opacity: 1;
                }
            }
        }

        ion-header{
            color: white;
        }
    }
}