.#{$ns}spinner{
      
    &__anim{
    position: relative;
    border: 4px solid color($colors, primary);
    height: 32px;
    width: 32px;
    border-radius: 3px;
    transform: rotate(45deg) scale(1);
      
      &:before, &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1);
        height: 4px;
        width: 4px;
        border-radius: 50%;
      }
    }
    
    &.is-animating{
      
        .#{$ns}spinner__anim{
            animation: nvSpinnerObj 1.25s infinite forwards;
        
        &:before{
           animation: nvSpinnerDot 1.25s infinite forwards;
        }
        
        &:after{
          display: none;
        }
      }
      
      .#{$ns}spinner__text{
          animation: nvSpinnerText 1.25s infinite forwards;
      }
    }
    
    &.is-successful{
      
        .#{$ns}spinner__anim{
         border-color: color($colors, positive);
         
         &:before, &:after{
           background-color: darken(color($colors, positive), 8%);
         }
         
         &:before{
            width: 8px;
            border-radius: 0;
          }
  
          &:after{
            border-radius: 0;
            width: 26px;
            transform: translate3d(-10px, -15px, 0) rotate(90deg);
          }
        }
      }
    
    &__anim, &__text{
      margin-left: auto;
      margin-right: auto;
    }
    
    &__text{
      margin-top: 1rem;
      font-size: 2rem;
    }  
  }
  
  @keyframes nvSpinnerObj {
    0%{
      transform: rotate(45deg) scale(1);
    }
    50%{
      transform: rotate(360deg) scale(0.7);
      border-radius: 50%;
      border-color: color($colors, attention);
    }
    100%{
      transform: rotate(45deg) ;
    }
  }
  
  @keyframes nvSpinnerText {
    0%, 100%{
      color: rgba(color($colors, attention), 0.3);
    }
    50%{
      color: rgba(color($colors, attention), 1);
    }
  }
  
  @keyframes nvSpinnerDot {
    0%, 100%{
      transform: translate(-50%, -50%) scale(1);
      background-color: color($colors, primary);
    }
    50%{
      transform: translate(-50%, -50%) scale(3);
      background-color: color($colors, attention);
    }
  }