.nv-mock{
    position: relative;
}

.nv-mock__inner{
    position: fixed;
    top: 100px;
    right: 4rem;
    width: 275px;
}

.nv-mock__preview{
    position: absolute;
    top: 65px;
    left: 17px;
    height: 426px;
    width: 240px;
    background: #0F374B;
}


/* PREVIEW */
.nv-preview__header{
    position: relative;
}

.nv-preview__image img{
    max-width: 100%;
}

.nv-preview__meta{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    font-size: 12px;
    color: white;
}

.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0 0 10px rgba(0, 0, 0, 0.3)  ); 
            filter: drop-shadow( 0 0 10px rgba(0, 0, 0, 0.3) );
}